html {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 460;
  line-height: 24px;
  font-style: normal;
  background: #f9efee;
  color: #415053;
}

body {
  min-height: 100vh;
  background: #ede5e4;
}

#p5_loading {
  display: none;
}

#splash {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9efee;
}

#splash-wrap {
  flex-grow: 1;
  max-width: 1600px;
  max-height: 1000px;
  height: 100%;
  display: flex;
  justify-content: stretch;
}

#splash-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
}

#splash-right {
  flex-grow: 2;
  flex-basis: 350px;
}

#splash-hero {
  position: relative;
  cursor: default;
  max-width: 300px;
  padding: 24px 0 30px;
}

#splash-content {
  position: relative;
  cursor: default;
}

.perch-logo-phrase {
  font-size: 28px;
  letter-spacing: -0.016em;
  line-height: 1.16;
  font-weight: 300;
  word-spacing: -0.03em;
}

.perch-c2a {
  font-size: 28px;
  letter-spacing: -0.016em;
  line-height: 1.16;
  font-weight: 850;
  word-spacing: -0.03em;
  color: #131f21;
}

.perch-logotype {
  color: #ff654a;
  text-transform: lowercase;
  font-weight: 850;
  letter-spacing: -0.03em;
  font-size: 30px;
}

.fade-in {
  opacity: 0;
}

.ready-to-fade .fade-in {
  opacity: 0; /* Start hidden */
  transform: translate3d(0, 10px, 0);
  animation: fadeIn 400ms ease forwards; /* 2 seconds fade-in, runs once */
}

.ready-to-fade .fade-in:nth-child(2n) {
  animation-delay: 1200ms;
  animation-duration: 700ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}