html {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 460;
  line-height: 24px;
  font-style: normal;
  background: #f9efee;
  color: #415053;
}

body {
  min-height: 100vh;
  background: #ede5e4;
}

#p5_loading {
  display: none;
}

#splash-root {
  position: relative;
}

#splash {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9efee;
  padding: 130px 30px 60px;
}

#splash-wrap {
  flex-grow: 1;
  max-width: 1100px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  /* outline: 1px solid green; */
}

#splash-hero {
  position: relative;
  cursor: default;
  user-select: none;
  padding: 6px;
}

#splash {
  /* transform: translateX(300px); */
}

#splash-scrim {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.15);
  transition: opacity 250ms cubic-bezier(0.87, 0, 0.13, 1);
  opacity: 0;
  pointer-events: none;
}

#splash-root.open #splash-scrim {
  opacity: 1;
  pointer-events: all;
}

#splash-preview {
  position: absolute;
  top: 18px;
  right: 18px; 
  bottom: 18px;
  width: 600px;
  max-width: calc(100vw - 36px);
  background: #fff;
  border-radius: 10px;
  z-index: 10;
  transition: transform 350ms cubic-bezier(0.87, 0, 0.13, 1);
  transform: translate3d(650px, 0, 0);
  box-shadow:
    2px 2px 6px -6px rgba(0,0,0,0.5),
    0px 0px 33px -16px rgba(0,0,0,0.3);
}

#splash-root.open #splash-preview {
  transform: translate3d(0, 0, 0);
}

.perch-logo-phrase {
  font-size: 28px;
  letter-spacing: -0.016em;
  line-height: 1.16;
  font-weight: 300;
  word-spacing: -0.03em;
}

.perch-c2a {
  font-size: 28px;
  letter-spacing: -0.016em;
  line-height: 1.16;
  font-weight: 850;
  word-spacing: -0.03em;
  color: #131f21;
}

.perch-logotype {
  color: #ff654a;
  text-transform: lowercase;
  font-weight: 850;
  letter-spacing: -0.03em;
  font-size: 30px;
}

.fade-in {
  opacity: 0;
}

.ready-to-fade .fade-in {
  opacity: 0; /* Start hidden */
  transform: translate3d(0, 10px, 0);
  animation: fadeIn 400ms ease forwards; /* 2 seconds fade-in, runs once */
}

.ready-to-fade .fade-in:nth-child(2n) {
  animation-delay: 1200ms;
  animation-duration: 700ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}