html {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: 460;
  line-height: 24px;
  font-style: normal;
  background: #f9efee;
  color: #415053;
}

body {
  min-height: 200vh;
  background: #ede5e4;
}

#p5_loading {
  display: none;
}

#splash {
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  height: 100vh;
  width: 100vw;
  background: #f9efee;
}

.splash-left {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-right {
  flex-grow: 1;
  flex-basis: 350px;
}

#splash-content {
  position: relative;
}

.main-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.perch-logotype {
  color: #ff654a;
  text-transform: lowercase;
  font-weight: 730;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: -0.05em;
}

.perch-h2 {
  font-family: "Albert Sans";
  font-size: 49px;
  font-weight: 344;
  letter-spacing: -0.034em;
  line-height: 1.04;
}

.perch-h3 {
  font-size: 42px;
  font-weight: 388;
  letter-spacing: -0.028em;
  line-height: 1.08;
}

.perch-h4 {
  font-family: "Albert Sans";
  font-size: 35px;
  font-weight: 432;
  letter-spacing: -0.022em;
  line-height: 1.12;
}

.perch-p,
.splash-input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 460;
  letter-spacing: -0.008em;
  word-spacing: -0.07em;
  color: #696d6e;
}


.fade-in,
.splash-input.fade-in {
  opacity: 0; /* Start hidden */
  transform: translate(0, 10px);
  animation: fadeIn 400ms ease forwards; /* 2 seconds fade-in, runs once */
}

.fade-in:nth-child(4n + 1) { animation-delay: 600ms; animation-duration: 500ms; }
.fade-in:nth-child(4n + 2) { animation-delay: 700ms; animation-duration: 700ms; }
.fade-in:nth-child(4n + 3) { animation-delay: 900ms; animation-duration: 1000ms; }
.fade-in:nth-child(4n + 4) { animation-delay: 1200ms; animation-duration: 1400ms; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, 10px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.perch-mb-lg {
  margin-bottom: 24px;
}

.splash-input {
  display: block;
  margin-top: 24px;
  padding: 12px 12px;
  border-radius: 4px;
  border: none;
  outline: 1px solid #dbd1cf;
  transition: outline 250ms ease;
}

.splash-input:focus {
  outline: 1px solid #415053;
}